.form {
  margin-top: 20px;
}

.page {
  padding: 0 40px;
}

button[disabled] {
  background: #ccc;
  border-color: #ccc;
  text-shadow: none;
}

input {
  margin-bottom: 5px !important;
}

.error-box {
  color: red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 30px;
}
