<!-- FORM -->
<div class="page">
  <form class="form" [formGroup]="addressForm" (submit)="onSubmit()">
    <div class="row">
      <div class="six columns">
        <label for="addressID">Address</label>
        <input
          formControlName="address"
          class="u-full-width"
          type="text"
          id="addressID"
          placeholder="Address name"
        />
        <div class="error-box">
          <div *ngIf="address?.invalid && (address?.dirty || address?.touched)">
            <span *ngIf="address?.errors?.['required']">Required</span>
            <span *ngIf="address?.errors?.['minlength']"
              >Must be min 4 chars</span
            >
          </div>
        </div>

        <button
          type="submit"
          class="button-primary"
          [disabled]="addressForm.invalid || addressForm.disabled || loading"
        >
          Create
        </button>
      </div>
    </div>
  </form>
  <app-error [err]="err"></app-error>
</div>
