.payment {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.first-row {
  display: flex;
  height: 400px;
  margin-bottom: 10px;
}

.payment-info {
  flex: 40%;
}

.payment-pie-chart {
  flex: 60%;
}

.payment-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-row {
  height: 400px;
  display: flex;
  align-items: center;
}

.error-box {
  color: red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
