<div *ngIf="!(paymentService.loading$ | async); else loader">
  <app-error
    *ngIf="paymentService.error$ | async as err"
    [err]="err"
  ></app-error>

  <div class="payment" *ngIf="paymentService.payment$ | async as payment">
    <div class="first-row">
      <div class="payment-info">
        <div>
          <div><b> Date: </b> {{ payment.date_created | date }}</div>
          <div><b> Gas: </b> {{ payment.gas }}</div>
          <div><b> Gas transit: </b> {{ payment.gas_transit }}</div>
          <div><b> Light: </b> {{ payment.light }}</div>
          <div><b> Water: </b> {{ payment.water }}</div>
          <div><b> Waste: </b> {{ payment.waste }}</div>
          <div><b> Apartment fee:</b> {{ payment.apartment_fee }}</div>
          <div><b> Elevator: </b> {{ payment.elevator }}</div>
          <div><b> Intercom: </b> {{ payment.intercom }}</div>
          <div><b> Heating fee: </b> {{ payment.heating_fee }}</div>
          <div>
            <b> Heating subscription fee: </b>
            {{ payment.heating_subscription_fee }}
          </div>
        </div>
      </div>
      <div class="payment-pie-chart">
        <ngx-charts-pie-chart
          [results]="chartData"
          [labels]="true"
        ></ngx-charts-pie-chart>
      </div>
    </div>
    <div class="second-row row">
      <ngx-charts-bar-vertical
        [results]="chartData"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisLabel]="'Category'"
        [yAxisLabel]="'Price'"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
      ></ngx-charts-bar-vertical>
    </div>
  </div>
</div>
<ng-template #loader>
  <app-loader text="addresses"></app-loader>
</ng-template>
