.navBar {
  background-color: #fff;
}

.nav {
  padding: 0 20px;
}

.navBar {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar button {
  margin-bottom: 0;
}

/*Floats each item to the left with padding of 14 & 16 px.
Removes the underline with text decoration = none.*/
.navBar a {
  color: grey;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Tahoma;
}

/*Background color change during hover state*/
.navBar a:hover {
  background-color: white;
  color: #009cde;
}

.active {
  color: #009cde !important;
}
