<div class="row nav">
  <div class="navBar" id="mainNavBar">
    <div>
      <a
        *ngFor="let link of links"
        [routerLink]="link.path"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ link.name }}</a
      >
    </div>
    <button (click)="logout()">Log out</button>
  </div>
</div>

<router-outlet></router-outlet>
