<!-- Choose address -->
<div class="container center">
  <form [formGroup]="optionForm">
    <label for="address">Select a category </label>
    <select
      id="address"
      formControlName="optionCtl"
      (ngModelChange)="onChange($event)"
    >
      <option *ngFor="let o of options" [value]="o">{{ o }}</option>
    </select>
  </form>
</div>

<div class="row">
  <ngx-charts-bar-vertical
    [results]="data"
    [xAxisLabel]="'Date'"
    [yAxisLabel]="'Price'"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
  >
  </ngx-charts-bar-vertical>
</div>
