<div
  class="page"
  *ngIf="!(addressService.loading$ | async) as loading; else loader"
>
  <div class="column" *ngIf="!(addressService.loading$ | async)">
    <h4>Create payment</h4>
    <app-payment
      *ngIf="addressService.addresses$ | async as addresses"
      [addresses]="addresses"
      [loading]="!loading"
      (create)="onCreatePayment($event)"
      [err]="(paymentService.error$ | async)!"
    ></app-payment>
  </div>
  <div class="column">
    <h4>Create address</h4>
    <app-address
      (create)="onCreateAddress($event)"
      [loading]="!loading"
      [err]="(addressService.error$ | async)!"
    ></app-address>
    <!-- List of addresses -->
    <app-addresses-list
      [addresses]="(addressService.addresses$ | async)!"
      [loading]="!loading"
      (delete)="onDelete($event)"
      (update)="onUpdate($event)"
    ></app-addresses-list>
  </div>
</div>
<ng-template #loader>
  <app-loader text="addresses"></app-loader>
</ng-template>
