<!-- Choose address -->
<div class="container center" *ngIf="address.addresses$ | async as addresses">
  <form [formGroup]="form" *ngIf="!(address.loading$ | async); else loader">
    <div *ngIf="addresses?.length != 0">
      <label for="address">Choose address</label>
      <select
        id="address"
        formControlName="address"
        (ngModelChange)="onChangeAddress($event)"
      >
        <option *ngFor="let a of addresses" [ngValue]="a">
          {{ a.address }}
        </option>
      </select>
    </div>
    <div *ngIf="addresses?.length == 0">
      <h6>No addresses yet!</h6>
    </div>
  </form>

  <ng-template #loader>
    <app-loader text="addresses"></app-loader>
  </ng-template>
</div>

<!-- List of payments -->
<div
  class="table"
  style="margin-top: 30px"
  *ngIf="
    !(payment.loading$ | async) && !(address.loading$ | async);
    else loader
  "
>
  <div *ngIf="payment.payments$ | async as payments">
    <div *ngIf="payments.length != 0">
      <!-- Table -->
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Date</th>
            <th>Gas</th>
            <th>Gas transit</th>
            <th>Light</th>
            <th>Water</th>
            <th>Waste</th>
            <th>Apartment fee</th>
            <th>Elevator</th>
            <th>Intercom</th>
            <th>Heating fee</th>
            <th>Heating subscription fee</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of payments">
            <th>
              <a [routerLink]="['/payment', p.payment_id]">
                {{ p.date_created | date }}
              </a>
            </th>
            <th>{{ p.gas }}</th>
            <th>{{ p.gas_transit }}</th>
            <th>{{ p.light }}</th>
            <th>{{ p.water }}</th>
            <th>{{ p.waste }}</th>
            <th>{{ p.apartment_fee }}</th>
            <th>{{ p.elevator }}</th>
            <th>{{ p.intercom }}</th>
            <th>{{ p.heating_fee }}</th>
            <th>{{ p.heating_subscription_fee }}</th>
          </tr>
        </tbody>
      </table>

      <div
        class="pagination"
        *ngIf="(payment.pages$ | async) != 1 && (payment.pages$ | async) != 0"
      >
        <button
          class="button-primary"
          style="margin-right: 10px"
          [disabled]="currentPage == 1"
          (click)="prevPage()"
        >
          << Prev
        </button>
        <button
          (click)="nextPage()"
          class="button-primary"
          [disabled]="currentPage == (payment.pages$ | async)"
        >
          Next >>
        </button>
      </div>

      <app-payments-chart [payments]="payments"></app-payments-chart>
    </div>

    <!-- End Table -->
    <div *ngIf="payments.length == 0" class="center">
      <span>No available payments. <a routerLink="/new"> Create one! </a></span>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-loader text="payments"></app-loader>
</ng-template>
