.table {
  width: 85%;
  margin: 0 auto;
}

form {
  margin-bottom: 0;
}

button[disabled] {
  background: #ccc;
  border-color: #ccc;
  text-shadow: none;
}

table {
  font-size: 12px;
}

th {
  padding: 5px;
  text-align: center;
}
