<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row login">
      <div class="six columns">
        <label for="usernameID">Username</label>
        <div>
          <input
            formControlName="name"
            class="u-full-width"
            type="text"
            id="usernameID"
          />
        </div>
        <div class="error-box">
          <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
            <span *ngIf="name?.errors?.['required']">Required</span>
            <span *ngIf="name?.errors?.['minlength']">Must be min 4 chars</span>
          </div>
        </div>

        <label for="emailID">Email</label>
        <input
          formControlName="email"
          class="u-full-width"
          type="text"
          id="emailID"
        />
        <div class="error-box">
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <span *ngIf="email?.errors?.['required']">Required</span>
            <span *ngIf="email?.errors?.['email']">Must be valid email</span>
          </div>
        </div>

        <label for="passwordID">Password</label>
        <input
          formControlName="password"
          class="u-full-width"
          type="text"
          id="passwordID"
        />
        <div class="error-box">
          <div
            *ngIf="password?.invalid && (password?.dirty || password?.touched)"
          >
            <span *ngIf="password?.errors?.['required']">Required</span>
            <span *ngIf="password?.errors?.['minlength']"
              >Must be min 5 chars</span
            >
          </div>
        </div>

        <label for="passwordConfirmID">Password Confirm</label>
        <input
          formControlName="password_validation"
          class="u-full-width"
          type="text"
          id="passwordConfirmID"
        />
        <div class="error-box">
          <div
            *ngIf="
              password_validation?.invalid &&
              (password_validation?.dirty || password_validation?.touched)
            "
          >
            <span *ngIf="password_validation?.errors?.['required']"
              >Required</span
            >
            <span *ngIf="password_validation?.errors?.['minlength']"
              >Must be min 5 chars</span
            >
          </div>
        </div>

        <div class="login-footer">
          <button
            class="button-primary"
            type="submit"
            value="Submit"
            [disabled]="registerForm.invalid || registerForm.disabled"
          >
            Submit
          </button>
          <span><a routerLink="/login">Login</a></span>
        </div>
      </div>
    </div>
  </form>
  <app-error [err]="err"></app-error>
</div>
