.login {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.login-footer {
  display: flex;
  justify-content: space-between;
}

input {
  margin-bottom: 5px !important;
}

button[disabled] {
  background: #ccc;
  border-color: #ccc;
  text-shadow: none;
}

.error-box {
  color: red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 30px;
}
