<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row login">
      <div class="six columns">
        <label for="emailID">Email</label>
        <input
          formControlName="email"
          class="u-full-width"
          type="text"
          id="emailID"
        />
        <div class="error-box">
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <span *ngIf="email?.errors?.['required']">Required</span>
            <span *ngIf="email?.errors?.['email']">Must be valid email</span>
          </div>
        </div>
        <label for="passwordID">Password</label>
        <input
          formControlName="password"
          class="u-full-width"
          type="text"
          id="passwordID"
        />
        <div class="error-box">
          <div
            *ngIf="password?.invalid && (password?.dirty || password?.touched)"
          >
            <span *ngIf="password?.errors?.['required']">Required</span>
            <span *ngIf="password?.errors?.['minlength']"
              >Must be min 5 chars</span
            >
          </div>
        </div>

        <div class="login-footer">
          <button
            class="button-primary"
            type="submit"
            value="Submit"
            [disabled]="loginForm.invalid || loginForm.disabled"
          >
            Login
          </button>
          <span><a routerLink="/register">register</a></span>
        </div>
      </div>
    </div>
  </form>
  <app-error [err]="err"></app-error>
</div>
