<div class="page">
  <form class="form" [formGroup]="paymentForm" (submit)="onSubmit()">
    <!-- ADDRESS -->
    <div class="row">
      <div class="six columns">
        <div *ngIf="!loading">
          <!-- TODO ADDRESS ERROR -->
          <!-- END ADDRESS ERROR -->

          <!-- IF TRUE -->
          <div *ngIf="addresses.length != 0">
            <label for="address">Address</label>
            <select name="Address" id="address" formControlName="address">
              <option *ngFor="let a of addresses" [ngValue]="a">
                {{ a.address }}
              </option>
            </select>
          </div>
          <!-- ELSE -->
          <div *ngIf="addresses.length == 0">
            <h6>No addresses yet!</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- END ADDRESS -->

    <!-- GAS / GAS_TRANSIT -->
    <div class="row">
      <div class="six columns">
        <label for="gas">Gas</label>
        <input formControlName="gas" type="number" id="gas" />
        <div class="error-box">
          <div *ngIf="gas?.invalid && (gas?.dirty || gas?.touched)">
            <span *ngIf="gas?.errors?.['required']">Required</span>
            <span *ngIf="gas?.errors?.['min']">Must be greater than 0</span>
          </div>
        </div>
      </div>
      <div class="six columns">
        <label for="gas_transit">Gas transit</label>
        <input formControlName="gas_transit" type="number" id="gas_transit" />
        <div class="error-box">
          <div
            *ngIf="
              gas_transit?.invalid &&
              (gas_transit?.dirty || gas_transit?.touched)
            "
          >
            <span *ngIf="gas_transit?.errors?.['required']">Required</span>
            <span *ngIf="gas_transit?.errors?.['minlength']"
              >Must be min 4 chars</span
            >
          </div>
        </div>
      </div>
    </div>
    <!-- END GAS / GAS_TRANSIT -->

    <!-- LIGHT / WATER -->
    <div class="row">
      <div class="six columns">
        <label for="light">Light</label>
        <input formControlName="light" type="number" id="light" />
        <div class="error-box">
          <div *ngIf="light?.invalid && (light?.dirty || light?.touched)">
            <span *ngIf="light?.errors?.['required']">Required</span>
            <span *ngIf="light?.errors?.['min']">Must be greater than 0</span>
          </div>
        </div>
      </div>
      <div class="six columns">
        <label for="water">Water</label>
        <input formControlName="water" type="number" id="water" />
        <div class="error-box">
          <div *ngIf="water?.invalid && (water?.dirty || water?.touched)">
            <span *ngIf="water?.errors?.['required']">Required</span>
            <span *ngIf="water?.errors?.['min']">Must be greater than 0</span>
          </div>
        </div>
      </div>
    </div>
    <!-- END LIGHT / WATER -->

    <!-- WASTE / APARTMENT_FEE -->
    <div class="row">
      <div class="six columns">
        <label for="waste">Waste</label>
        <input formControlName="waste" type="number" id="waste" />
        <div class="error-box">
          <div *ngIf="waste?.invalid && (waste?.dirty || waste?.touched)">
            <span *ngIf="waste?.errors?.['required']">Required</span>
            <span *ngIf="waste?.errors?.['min']">Must be greater than 0</span>
          </div>
        </div>
      </div>
      <div class="six columns">
        <label for="apartment_fee">Apartment fee</label>
        <input
          formControlName="apartment_fee"
          type="number"
          id="apartment_fee"
        />
        <div class="error-box">
          <div
            *ngIf="
              apartment_fee?.invalid &&
              (apartment_fee?.dirty || apartment_fee?.touched)
            "
          >
            <span *ngIf="apartment_fee?.errors?.['required']">Required</span>
            <span *ngIf="apartment_fee?.errors?.['min']"
              >Must be greater than 0</span
            >
          </div>
        </div>
      </div>
    </div>
    <!-- END WASTE / APARTMENT_FEE -->

    <!-- ELEVATOR / INTERCOM -->
    <div class="row">
      <div class="six columns">
        <label for="elevator">Elevator</label>
        <input formControlName="elevator" type="number" id="elevator" />
        <div class="error-box">
          <div
            *ngIf="elevator?.invalid && (elevator?.dirty || elevator?.touched)"
          >
            <span *ngIf="elevator?.errors?.['required']">Required</span>
            <span *ngIf="elevator?.errors?.['min']"
              >Must be greater than 0</span
            >
          </div>
        </div>
      </div>
      <div class="six columns">
        <label for="intercom">Intercom</label>
        <input formControlName="intercom" type="number" id="intercom" />
        <div class="error-box">
          <div
            *ngIf="intercom?.invalid && (intercom?.dirty || intercom?.touched)"
          >
            <span *ngIf="intercom?.errors?.['required']">Required</span>
            <span *ngIf="intercom?.errors?.['min']"
              >Must be greater than 0</span
            >
          </div>
        </div>
      </div>
    </div>
    <!-- END ELEVATOR / INTERCOM -->

    <!-- HEATING FEE / HEATING SUBSCRIPTION FEE -->
    <div class="row">
      <div class="six columns">
        <label for="heating_fee">Heating fee</label>
        <input formControlName="heating_fee" type="number" id="heating_fee" />
        <div class="error-box">
          <div
            *ngIf="
              heating_fee?.invalid &&
              (heating_fee?.dirty || heating_fee?.touched)
            "
          >
            <span *ngIf="heating_fee?.errors?.['required']">Required</span>
            <span *ngIf="heating_fee?.errors?.['min']"
              >Must be greater than 0</span
            >
          </div>
        </div>
      </div>
      <div class="six columns">
        <label for="heating_subscription_fee">Heating subscription fee</label>
        <input
          formControlName="heating_subscription_fee"
          type="number"
          id="heating_subscription_fee"
        />
        <div class="error-box">
          <div
            *ngIf="
              heating_subscription_fee?.invalid &&
              (heating_subscription_fee?.dirty ||
                heating_subscription_fee?.touched)
            "
          >
            <span *ngIf="heating_subscription_fee?.errors?.['required']"
              >Required</span
            >
            <span *ngIf="heating_subscription_fee?.errors?.['min']"
              >Must be greater than 0</span
            >
          </div>
        </div>
      </div>
    </div>
    <!-- END HEATING FEE / HEATING SUBSCRIPTION FEE -->

    <button
      type="submit"
      class="button-primary"
      [disabled]="paymentForm.invalid || paymentForm.disabled || loading"
    >
      Create
    </button>
  </form>

  <app-error [err]="err"></app-error>
</div>
