<div class="container" style="margin-top: 30px">
  <h6>Your addresses:</h6>

  <ul *ngIf="addresses.length != 0">
    <li *ngFor="let a of addresses">
      <input type="text" [value]="a.address" #input minlength="4" />
      <button
        style="color: blue; margin: 0 10px"
        (click)="onUpdate(a, input.value)"
      >
        Update
      </button>
      <button style="color: red" (click)="onDelete(a.address_id)">
        Delete
      </button>
    </li>
  </ul>

  <ul *ngIf="addresses.length == 0">
    <li>No available addresses. Create one!</li>
  </ul>
</div>
